<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'pwdapp/css/styles.css' %}" rel="stylesheet" />
    <link href ="{% static 'pwdapp/assets/favicon.svg' %}" rel="icon"/>
    <title>Pwd app</title>
</head>
<body>
    <header>
        <h2>Welcome to Pwdapp</h2> 
    </header>

    <form class= "floating" id="loginForm">
        {% block content %}
        {% endblock %}
    </form>

    <script src="{% static 'pwdapp/js/login.js' %}"></script>
</body>
</html>